@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Лалочній сайт</title>
</head>
<body>
    <div>
        <h3>Лалочный тест</h3>
        <table>
            <tr>
                <td><p>Название работы</p></td>
                <td><p>Дата Создания</p></td>
                <td><p>Фото</p></td>
                <td></td>
            </tr>
            @foreach (var b in ViewBag.WorkOfArts)
            {
            
                <tr>
                    <td><p>@b.Description</p></td>
                    <td><p>@b.CreationDate</p></td>
                    <td><p>@b.Picture</p></td>
                    <td><p><a href="/Home/Buy/@b.Id">Купить</a></p></td>
                </tr>
            }
        </table>
    </div>
</body>
</html>